<html>
<head>
    {% include 'header.html.twig' %}
</head>
<body>
    <h1>{{ category.getName }}</h1>
    {% if tasks is not empty %}
        <p>Voici les tâches:</p>
        <ul>
            {% for task in tasks %}
                <li>{{ task.getDescription }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Pas de tâche dans cette catégorie !</p>
    {% endif %}

    <form action='/todolist/tasks' method='post'>
        <input id="category_id" name="category_id" type="hidden" value="{{ category.getId() }}">

        <label for='description'>Tâche:</label>
        <input id='description' name='description' type='text'>

        <button type='submit'>Ajouter</button>
    </form>

    <p><a href="/todolist/categories/{{ category.getId }}/edit">Modifier cette catégorie</a></p>

    <p><a href="/todolist">Home</a></p>
</body>
</html>