<html>
<head>
    {% include 'header.html.twig' %}
</head>
<body>
    <h1>Catégories</h1>
    {% if categories is not empty %}
        <p>Voici toutes les catégories:</p>
        <ul>
            {% for category in categories %}
                <li>{{ category.getName }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action='/categories' method='post'>
        <label for='name'>Category Name</label>
        <input id='name' name='name' type='text'>

        <button type='submit'>Ajouter une catégorie</button>
    </form>

    <form action='/delete_categories' method='post'>
        <button type='submit'>Vider</button>
    </form>
    
    <p><a href='/'>Home</a><p>
</body>
</html>